<div class="box">
    <div *ngIf="Contador === 0">
        <img [src]="logo" alt="">
        <app-enter-button (click)="nextText()"></app-enter-button>
    </div>
    <div *ngIf="Contador !== 0 && !rickrollReady" >
        <div class="container">
            <div class="row texto">
                <app-speech-bubble Text={{currentText}}></app-speech-bubble>
            </div>

            <div class="row geronimo">
                <app-geronimo></app-geronimo>
            </div>
            <div class="row">
                <input *ngIf="Contador === 4" (keyup)="onKey($event)"/>
            </div>
            <div *ngIf="Contador === 9" class="row">
                <input type="text" #mensagem style="width: 100%;">
                <button style="width: 100%;" (click)="setAndSendMessage(mensagem.value); nextText()">   enviar ;)    </button>
            </div>
            <div *ngIf="Contador !== 9 && Contador !== 11" class="row">
                <br/>
                <app-hq-button Texto="Avançar" (click)="nextText()"></app-hq-button>
            </div>
        </div> 
    </div>
</div>